services:
  should-keep-restarting:
    # this container should be restarted by autoheal because its unhealthy and has the autoheal label
    image: alpine@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
    network_mode: none
    restart: "no"
    labels:
      - "$AUTOHEAL_CONTAINER_LABEL=true"
    healthcheck:
      test: exit 1
      interval: 3s
      timeout: 1s
      retries: 3
      start_period: 5s
    command: tail -f /dev/null

  shouldnt-restart-healthy:
    # this container shouldn't be restarted by autoheal because its healthy
    image: alpine@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
    network_mode: none
    restart: "no"
    labels:
      - "$AUTOHEAL_CONTAINER_LABEL=true"
    healthcheck:
      test: exit 0
      interval: 2s
      timeout: 1s
      retries: 1
      start_period: 1s
    command: tail -f /dev/null

  shouldnt-restart-no-label:
    # this container shouldn't be restarted by autoheal because its missing the autoheal label
    image: alpine@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
    network_mode: none
    restart: "no"
    healthcheck:
      test: exit 1
      interval: 3s
      timeout: 1s
      retries: 1
      start_period: 5s
    command: tail -f /dev/null

  ignore:
    # this container shouldn't be restarted because it is ignored by name
    # even though technically it is included based on the label
    image: alpine@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
    network_mode: none
    restart: "no"
    labels:
      - "$AUTOHEAL_CONTAINER_LABEL=true"
    healthcheck:
      test: exit 1
      interval: 3s
      timeout: 1s
      retries: 1
      start_period: 5s
    command: tail -f /dev/null

  autoheal:
    restart: unless-stopped
    user: root
    environment:
      AUTOHEAL_CONTAINER_LABEL: "${AUTOHEAL_CONTAINER_LABEL:-all}"
      AUTOHEAL_INTERVAL: "10"
      AUTOHEAL_EXCLUDE_CONTAINERS: autoheal-test-ignore-1
      # WEBHOOK_URL: https://ntfy.sh/...
    volumes:
      - type: bind
        source: "${DOCKER_SOCKET:-/var/run/docker.sock}"
        target: /var/run/docker.sock
    network_mode: host
