services:
  watch-autoheal:
    build: watch-autoheal
    restart: "no"
    user: root
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      COMPOSE_PROJECT_NAME: $COMPOSE_PROJECT_NAME
    network_mode: none
